body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.header {
  background: linear-gradient(#404040, #989898);
  border: 1px solid black;
  color: #2a4e97;
  text-align: center;
  &__title {
    font-size: 50px;
    margin-bottom: 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7e7e7e;
  }
}
.matrix {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 75%;
  &__container {
    display: flex;
    justify-content: center;
    background-color: #404040;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
    max-width: 600px;
    min-width: 590px;
    height: 100%;
  }
  &__square {
    background-color: #7e7e7e;
    width: 35px;
    height: 35px;
    border: 1px solid #989898;
  }
}
.footer {
  display: flex;
  justify-content: center;
  background: linear-gradient(#989898, #404040);
  border: 1px solid black;
  height: 130px;
  color: #2a4e97;
  &__container-button {
    display: flex;
    margin: 10px;
    height: 100%;
  }
  &__button {
    color: lightblue;
    font-size: 18px;
    margin: 5px;
    width: 100px;
    height: 50px;
    background-color: #2a4e97;
  }
}
